<div class="wrap">
    <header class="col-md-12 col-lg-12 bdb1 text-center pt10">
        <span class="bg">服务</span><span>金融</span><em><i class="icon iconfont icon-fangdajing"></i></em>
    </header>
    <section>
        <div class="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="Content/img/banner.gif" alt=""></div>
                    <div class="swiper-slide"><img src="Content/img/banner.gif" alt=""></div>
                    <div class="swiper-slide"><img src="Content/img/banner.gif" alt=""></div>
                </div>
            </div>
        </div>
        <menu>
            <span class="col-md-3 col-xs-3 text-center"><i class="icon iconfont icon-zanting"></i><br>首页</span>
            <span class="col-md-3 col-xs-3 text-center"><i class="icon iconfont icon-zanting"></i><br>首页</span>
            <span class="col-md-3 col-xs-3 text-center"><i class="icon iconfont icon-zanting"></i><br>首页</span>
            <span class="col-md-3 col-xs-3 text-center"><i class="icon iconfont icon-zanting"></i><br>首页</span>
        </menu>
        <div class="title">
            <img src="Content/img/bg.gif" alt="">
        </div>
        <div class="fenlei">
            <div class="top">车主服务</div>
            <ul>
                <li><i class="icon iconfont icon-zanting"></i><br>首页</li>
                <li><i class="icon iconfont icon-zanting"></i><br>首页</li>
                <li><i class="icon iconfont icon-zanting"></i><br>首页</li>
                <li><i class="icon iconfont icon-zanting"></i><br>首页</li>
                <li><i class="icon iconfont icon-zanting"></i><br>首页</li>
                <li><i class="icon iconfont icon-zanting"></i><br>首页</li>
                <li><i class="icon iconfont icon-zanting"></i><br>首页</li>
                <li><i class="icon iconfont icon-zanting"></i><br>首页</li>
                <li><i class="icon iconfont icon-zanting"></i><br>首页</li>
                <li><i class="icon iconfont icon-zanting"></i><br>首页</li>
                <li><i class="icon iconfont icon-zanting"></i><br>首页</li>
                <li><i class="icon iconfont icon-zanting"></i><br>首页</li>
            </ul>
        </div>
        <div class="xianshi">
            <div class="top">显示抢购<span><b>13</b>:<b>13</b>:<b>13</b></span></div>
            <div class="scroll">
                <dl>
                    <dt><img src="Content/img/img1.gif" alt=""></dt>
                    <dd>
                        <p>补胎工具建议套装</p>
                        <p><span>￥9.9元</span><b>28元</b></p>
                    </dd>
                </dl>
                <dl>
                    <dt><img src="Content/img/img2.gif" alt=""></dt>
                    <dd>
                        <p>车用椅背挂钩</p>
                        <p><span>￥9.9元</span><b>28元</b></p>
                    </dd>
                </dl>
                <dl>
                    <dt><img src="Content/img/img1.gif" alt=""></dt>
                    <dd>
                        <p>补胎工具建议套装</p>
                        <p><span>￥9.9元</span><b>28元</b></p>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="active">
            <div class="top">显示抢购<span>更多活动<i class="icon iconfont icon-zanting"></i></span></div>
            <div class="actives">
                <dl>
                    <dt>
                        <h4>测身价炫富</h4>
                        <p>身价大PK</p>
                    </dt>
                    <dd>
                        <img src="Content/img/pic1.gif" alt="">
                    </dd>
                </dl>
                <dl>
                    <dt>
                    <h4>测身价炫富</h4>
                    <p>身价大PK</p>
                    </dt>
                    <dd>
                        <img src="Content/img/pic2.gif" alt="">
                    </dd>
                </dl>
                <dl>
                    <dt>
                    <h4>测身价炫富</h4>
                    <p>身价大PK</p>
                    </dt>
                    <dd>
                        <img src="Content/img/pic3.gif" alt="">
                    </dd>
                </dl>
            </div>
        </div>
        <div class="like">
            <div class="top">显示抢购<span>更多<i class="icon iconfont icon-zanting"></i></span></div>
            <div class="content">
                <dl class="col-xs-6 col-ms-3">
                    <dt><img src="Content/img/pics1.gif" alt=""></dt>
                    <dd>
                        <h4>上汽大众-全新旅途L</h4>
                        <p>上汽大众-全新旅途L享2年0利率</p>
                        <div class="price">1元<span>1.44万</span></div>
                    </dd>
                </dl>
                <dl class="col-xs-6 col-ms-3">
                    <dt><img src="Content/img/pics1.gif" alt=""></dt>
                    <dd>
                        <h4>上汽大众-全新旅途L</h4>
                        <p>上汽大众-全新旅途L享2年0利率</p>
                        <div class="price">1元<span>1.44万</span></div>
                    </dd>
                </dl>
            </div>
        </div>
    </section>
    <footer>
        <span><i class="icon iconfont icon-shouye"></i>首页</span>
        <span><i class="icon iconfont icon-zanting"></i>论坛</span>
        <span><i class="icon iconfont icon-zanting"></i>选车</span>
        <span><i class="icon iconfont icon-zanting"></i>发现</span>
        <span><i class="icon iconfont icon-wode"></i>未登录</span>
    </footer>
</div>